
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=0" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--web and large screens -->





<div  *ngIf="!isMobileVar" class="ui-g-12 ui-lg-12 ui-md-12 bg-image"  style="min-height: 100%;">
    <div  *ngIf="!isMobileVar">
      <img  class="ui-g-1 ui-g-offset-0  ui-md-1 ui-md-offset-0 ui-lg-offset-0 ui-lg-1 " src="/assets/images/logo.svg" alt="logo" style="margin-top:2%;margin-left: 5%">
    </div>
    <div class="ui-g-4 ui-g-offset-8 drag-down "  style="height: 1vh;">
        <p class="fa" style="font-family: 'Nunito Sans', sans-serif;font-size: .9vw;font-weight: 400;">Follow us on</p>

        <a href="https://www.facebook.com/auzzio" target="_blank" class="fa fa-facebook" style="width: 25px;"></a>
        <a href="https://www.instagram.com/auzzio_in" target="_blank" class="fa fa-instagram"style="width: 25px"></a>
        <a href="https://twitter.com/auzzio_in" target="_blank" class="fa fa-twitter"style="width: 25px"></a>

        <a href="https://www.linkedin.com/company/auzzio-innovations-private-limited" target="_blank" class="fa fa-linkedin"style="width: 25px"></a>

    </div>


</div>

<!--Mobile and Small screens -->
<div  *ngIf="isMobileVar" class="ui-g-12 ui-sm-12 bg-image-mobile">
  <div  *ngIf="isMobileVar">
    <img  class="ui-g-3 ui-g-offset-0 ui-sm-offset-0 ui-sm-3" src="/assets/images/logo.svg" alt="logo" style="margin-top:2%;margin-left: 5%">
  </div>

  <div class="ui-g-11 ui-sm-10 ui-sm-offset-2 drag-down-mobile"  style="height: 1vh;">
    <p  style="font-family: 'Nunito Sans', sans-serif;font-size: 3vw;font-weight: 400;margin-left: 25%; margin-right: 25%;width:50%;">Follow us on</p>
    <a href="https://www.facebook.com/auzzio" target="_blank" class="fa fa-facebook" style="width: 25px;margin-left: 11%;"></a>
    <a href="https://www.instagram.com/auzzio_in" target="_blank" class="fa fa-instagram"style="width: 25px"></a>
    <a href="https://twitter.com/auzzio_in" target="_blank" class="fa fa-twitter"style="width: 25px"></a>
    <a href="https://www.linkedin.com/company/auzzio-innovations-private-limited" target="_blank" class="fa fa-linkedin"style="width: 25px"></a>
  </div>
  </div>






