.fa {

  margin-right: 10%;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 1%;
  border-radius: 50%;
}



.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
    background: rgb(24, 119, 242);
    color: white;
  }
.fa-linkedin {
  background: #007bb5;
  color: white;
}

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #dd4b39;
    color: white;
  }
  .hd-image{

    background-repeat: no-repeat;
    position:absolute;
    top: 40px;
    left: 10px;
    margin-top: 10px;
  }

  .bg-image{
    background-image: url('../../assets/images/new_group_desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height:120vh;
    position: relative;

  }

.drag-down{
  margin-top: 80vh;
  margin-bottom: 8vh;

}
.drag-down-mobile{
  margin-top: 80vh;
  margin-bottom: 8vh;
}
.bg-image-mobile{
  background-image: url('../../assets/images/mobile_view.svg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  position: relative;
}
.hd-image-mobile{
  background-image: url('../../assets/images/new_logo.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 26px;
  left: 8px;
}

svg {width: 100%; height: auto;}
