
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div *ngIf="!isMobileVar" class="ui-g-12  ui-sm-12 card" style="background-image: url('../../assets/images/coming-sooon.svg');
     min-height: 100%;background-repeat: no-repeat;background-size: cover">
    
      
      <a href="https://www.facebook.com/Auzzio-Innovations-103715314736191/" class="fa fa-facebook"></a>
      <a href="https://twitter.com/home" class="fa fa-twitter"></a>
      <a href="https://www.youtube.com/channel/UCDQf5R-wjQ2L7EVJS5GgjcQ/" class="fa fa-youtube"></a>
      <a href="https://www.instagram.com/auzzioindia" class="fa fa-instagram"></a>
      <h3 class="hd">Follow</h3>
    

      
        
       
            
     
     
        
    
  
   
 
  </div>



  
