.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: #dd4b39;
    color: white;
  }
  
  .fa-youtube {
    background: #007bb5;
    color: white;
  }
  