/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Nunito Sans", sans-serif;
  background: #F8F8F8;
}

.red-snackbar {
  background: #FF0000;
  font-family: 'Nunito Sans', sans-serif;
}
.mat-card-header .mat-card-header-text {
  margin: 0 0;
}



.ui-g-12,.ui-g-2,.ui-g-1, .ui-g-offset-9{
  padding: 0;
}

.auzzio_logo {
  position: absolute;
}
.auzzio_logo_mobile {
  max-height: 5vw;
  margin: .5vw 0px;
}
