/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Nunito Sans", sans-serif; }
.green-snackbar {
  background: #016617;
  font-family: 'Nunito Sans', sans-serif;
}
.red-snackbar {
  background: #FF0000;
  font-family: 'Nunito Sans', sans-serif;
}
